body{
	background-image: url(fondo.jpg);
	font-family: MV Boli, Helvetica;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
	padding: 10px;
	width: 400px;
	text-align: center;
	margin: 5px auto;
	font-size: 25px;
	font-family: MV Boli;

}

.border {
	border: 2px solid ;
	background-color: #A8D4F9;
}

.box {
	width: 400px;
	text-align: center;
	margin: 5px auto;
	border: 0px solid;
	padding-top: 20px;
}

.minibox {
	width: 200px;
	margin: 15px auto;
	border: 0px solid black;
	padding-left: 15px;

}

.btn {
	border-radius: 2px;
	display: inline-block;
	text-decoration: none;
	font-family: MV Boli;
}

.btm-green {
	color: white;
	background-color: #3CC93F;
}

.btn-green:hover{
	background-color: white;
	color: black;
}

.btn-green:active{
	background-color: ;
}

.titulo {
	width: 700px;
	text-align: center;
	margin: 5px auto;
	padding-top: 10px;
}

.for{
	padding: 0px;
}